DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/ecommerce
JWT_SECRET=key_para_jwt
API_BASE_URL=http://localhost:8000
ENV=development
CORS_ORIGINS=http://localhost:3000,http://localhost:8501